
body {
	font-family: 'Coiny', cursive;
	color: #3D5D7B ;
	background-image: url(prague.jpg) ;
	background-repeat: no-repeat;
	background-size: 100% ;
	margin: 30px;
}

h1 {
	font-size: 90px;
	text-shadow: 2px 2px 0px #000;

}

p {
	font-weight: bolder;
	font-size: 30px ;
	color: #F17E66 ;
	text-shadow: 3px 2px 0px #000;
}

.nav-link, button.btn-primary {
	color: #FFEACC ;
}

.form-group {
	font-size: 25px;
	color: white;
}

#faq {
	font-size: 60px;
	text-indent: 30% ;
}


h5.modal-title {
	color: #F17E66 ;
}







